body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #fbfbfb;
}

p,
h1,
h2,
h3 {
  color: rgb(66, 65, 65);
}

header {
  h1 {
    text-align: center;
  }
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.add-btn {
  background-color: #4caf50;
  color: white;
}

.add-btn:hover {
  background-color: #3d9141;
}

.close-btn {
  background-color: #f44336;
  color: white;
}

.close-btn:hover {
  background-color: #cd392f;
}

.done-btn {
  background-color: #4caf50;
  color: white;
}

.done-btn:hover {
  background-color: #3d9141;
}

.not-done-btn {
  background-color: #dfdd53;
  color: black;
}

.not-done-btn:hover {
  background-color: #bbb947;
}

.remove-btn {
  background-color: #f44336;
  color: white;
}

.remove-btn:hover {
  background-color: #cd392f;
}

.icon {
  font-size: 24px;
  @media (max-width: 600px) {
    font-size: 30px;
  }
}
